<?xml version="1.0" encoding="utf-8"?>
<!-- Config -->
<!-- Author: user -->
<!-- DateCreated: 2/9/2018 3:28:10 PM -->
<GameData>

	<!-- Base Game -->
	<Players>
											<Row CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Portrait="LEADER_NAPOLEON_NEUTRAL.dds"  CivilizationName="LOC_CIVILIZATION_FRANCE_NAME" CivilizationIcon="ICON_CIVILIZATION_FRANCE" LeaderName="LOC_LEADER_GEDEMO_NAPOLEON" LeaderIcon="ICON_LEADER_GEDEMO_NAPOLEON" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_WONDER_TOURISM_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_WONDER_TOURISM_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_FRANCE" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_NAPOLEON_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_NAPOLEON_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_NAPOLEON" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND" />

		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Portrait="LEADER_NAPOLEON_NEUTRAL.dds" CivilizationName="LOC_CIVILIZATION_FRANCE_NAME" CivilizationIcon="ICON_CIVILIZATION_FRANCE" LeaderName="LOC_LEADER_GEDEMO_NAPOLEON" LeaderIcon="ICON_LEADER_GEDEMO_NAPOLEON" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_WONDER_TOURISM_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_WONDER_TOURISM_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_FRANCE" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_NAPOLEON_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_NAPOLEON_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_NAPOLEON" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND" />

		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Portrait="LEADER_NAPOLEON_NEUTRAL.dds" CivilizationName="LOC_CIVILIZATION_FRANCE_NAME" CivilizationIcon="ICON_CIVILIZATION_FRANCE" LeaderName="LOC_LEADER_GEDEMO_NAPOLEON" LeaderIcon="ICON_LEADER_GEDEMO_NAPOLEON" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_WONDER_TOURISM_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_WONDER_TOURISM_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_FRANCE" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_NAPOLEON_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_NAPOLEON_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_NAPOLEON" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND" />
	
	</Players>

	


	<PlayerItems>
		<Row CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Type="UNIT_FRENCH_GARDE_IMPERIALE" Icon="ICON_UNIT_FRENCH_GARDE_IMPERIALE" Name="LOC_UNIT_FRENCH_GARDE_IMPERIALE_NAME" Description="LOC_UNIT_FRENCH_GARDE_IMPERIALE_DESCRIPTION" SortIndex="20"/>
		
		<Row CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Type="IMPROVEMENT_CHATEAU" Icon="ICON_IMPROVEMENT_CHATEAU" Name="LOC_IMPROVEMENT_CHATEAU_NAME" Description="LOC_IMPROVEMENT_CHATEAU_DESCRIPTION" SortIndex="30"/>
		

		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Type="UNIT_FRENCH_GARDE_IMPERIALE" Icon="ICON_UNIT_FRENCH_GARDE_IMPERIALE" Name="LOC_UNIT_FRENCH_GARDE_IMPERIALE_NAME" Description="LOC_UNIT_FRENCH_GARDE_IMPERIALE_DESCRIPTION" SortIndex="20"/>
		
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Type="IMPROVEMENT_CHATEAU" Icon="ICON_IMPROVEMENT_CHATEAU" Name="LOC_IMPROVEMENT_CHATEAU_NAME" Description="LOC_IMPROVEMENT_CHATEAU_DESCRIPTION" SortIndex="30"/>


		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Type="UNIT_FRENCH_GARDE_IMPERIALE" Icon="ICON_UNIT_FRENCH_GARDE_IMPERIALE" Name="LOC_UNIT_FRENCH_GARDE_IMPERIALE_NAME" Description="LOC_UNIT_FRENCH_GARDE_IMPERIALE_DESCRIPTION" SortIndex="20"/>

		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_FRANCE" LeaderType="LEADER_GEDEMO_NAPOLEON" Type="IMPROVEMENT_CHATEAU" Icon="ICON_IMPROVEMENT_CHATEAU" Name="LOC_IMPROVEMENT_CHATEAU_NAME" Description="LOC_IMPROVEMENT_CHATEAU_EXPANSION2_DESCRIPTION" SortIndex="30"/>
		
		
		
	</PlayerItems>

	
	
	
	
</GameData>
